{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Responsive gym website - Bedimcode</title>
</head>
<body>
        <!--==================== PRICING ====================-->
        <section class="pricing section" id="pricing">
            <div class="container">
                <div class="section__data">
                    <h2 class="section__subtitle">Pricing</h2>
                    <div class="section__titles">
                        <h1 class="section__title-border">OUR</h1>
                        <h1 class="section__title">SPECIAL PLAN</h1>
                    </div>
                </div>

                <div class="pricing__container grid">
                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="{% static 'images/pricing1.png' %}" alt="My image">
                            </div>

                            <h1 class="pricing__title">BASIC PACKAGE</h1>
                            <h2 class="pricing__number">₹5200</h2>
                        </header>

                        <ul class="pricing__list">
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 5 Days In A Week
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 01 Sweatshirt
                            </li>
                            <li class="pricing__item pricing__item-opacity">
                                <i class="ri-checkbox-circle-line"></i> 01 Bottle of Protein
                            </li>
                            <li class="pricing__item pricing__item-opacity">
                                <i class="ri-checkbox-circle-line"></i> Access to Videos
                            </li>
                            <li class="pricing__item pricing__item-opacity">
                                <i class="ri-checkbox-circle-line"></i> Muscle Stretching
                            </li>
                        </ul>

                        <a href="pay/" class="button button__flex pricing__button">
                            Purchase Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>

                    <article class="pricing__card pricing__card-active">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="{% static 'images/pricing2.png' %}" alt="My image">
                            </div>

                            <h1 class="pricing__title">PREMIUM PACKAGE</h1>
                            <h2 class="pricing__number">₹8000</h2>
                        </header>

                        <ul class="pricing__list">
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 5 Days In A Week
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 01 Sweatshirt
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 01 Bottle of Protein
                            </li>
                            <li class="pricing__item pricing__item-opacity">
                                <i class="ri-checkbox-circle-line"></i> Access to Videos
                            </li>
                            <li class="pricing__item pricing__item-opacity">
                                <i class="ri-checkbox-circle-line"></i> Muscle Stretching
                            </li>
                        </ul>

                        <a href="pay/" class="button button__flex pricing__button">
                            Purchase Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>

                    <article class="pricing__card">
                        <header class="pricing__header">
                            <div class="pricing__shape">
                                <img src="{% static 'images/pricing3.png' %}" alt="My image">
                            </div>

                            <h1 class="pricing__title">DIAMOND PACKAGE</h1>
                            <h2 class="pricing__number">₹12000</h2>
                        </header>

                        <ul class="pricing__list">
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 5 Days In A Week
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 01 Sweatshirt
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> 01 Bottle of Protein
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> Access to Videos
                            </li>
                            <li class="pricing__item">
                                <i class="ri-checkbox-circle-line"></i> Muscle Stretching
                            </li>
                        </ul>

                        <a href="pay/" class="button button__flex pricing__button">
                            Purchase Now <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                </div>
            </div>
        </section>
        <br>
        <br>

        
 <!--========== SCROLL UP ==========-->
 <a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a>

<!--=============== SCROLLREVEAL ===============-->
<script src="{% static 'js/scrollreveal.min.js' %}"></script>

<!--=============== EMAIL JS ===============-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock 'content' %}